/* line 1, ../sass/style.sass */
body {
  background: #fefefe;
  font-family: "Century Gothic W01";
  min-width: 320px;
}

/* line 5, ../sass/style.sass */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100% !important;
  z-index: -1;
}
/* line 13, ../sass/style.sass */
.video-background video {
  min-height: 100%;
  min-width: 100%;
}

/* line 16, ../sass/style.sass */
#overview {
  position: relative;
  overflow: hidden;
}
/* line 19, ../sass/style.sass */
#overview .container {
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 1;
  padding: 60px 0;
}
/* line 25, ../sass/style.sass */
#overview h1, #overview h2 {
  color: white;
  font-size: 60px;
  font-family: "Century Gothic W01 Bold";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 7px;
  border-bottom: 6px double white;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 20px;
  line-height: 1;
}
/* line 37, ../sass/style.sass */
#overview h2 {
  font-size: 30px;
  font-family: "Century Gothic W01 Bold";
  border: 0;
  margin: 0 auto;
}

/* line 43, ../sass/style.sass */
h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

/* line 48, ../sass/style.sass */
h4 {
  font-size: 14px;
  color: #666666;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}

/* line 55, ../sass/style.sass */
.container {
  padding: 60px inherit;
  position: relative;
  z-index: 1;
}
@media (max-width: 480px) {
  /* line 55, ../sass/style.sass */
  .container {
    padding: 40px 10px;
  }
}

/* line 62, ../sass/style.sass */
.component {
  padding: 20px;
  margin: 0 0 10px;
}

/* line 66, ../sass/style.sass */
.where {
  margin: 0;
  padding-bottom: 0;
}
/* line 69, ../sass/style.sass */
.where address {
  text-align: right;
  margin-bottom: 0;
  letter-spacing: 1px;
}
@media (max-width: 480px) {
  /* line 69, ../sass/style.sass */
  .where address {
    text-align: center;
  }
}
/* line 75, ../sass/style.sass */
.where address strong {
  font-weight: normal;
  font-family: "Century Gothic W01 Bold";
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 80, ../sass/style.sass */
.when {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 0;
}
@media (max-width: 480px) {
  /* line 80, ../sass/style.sass */
  .when {
    padding-top: 0;
  }
}
/* line 86, ../sass/style.sass */
.when p {
  text-align: left;
  margin-bottom: 0;
}
@media (max-width: 480px) {
  /* line 86, ../sass/style.sass */
  .when p {
    text-align: center;
  }
}
/* line 91, ../sass/style.sass */
.when p strong {
  font-weight: normal;
  font-family: "Century Gothic W01 Bold";
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 96, ../sass/style.sass */
.at {
  font-size: 16px;
  font-family: "CenturyGothicW01-BoldIt";
  margin-top: 45px;
  text-align: center;
}
@media (max-width: 480px) {
  /* line 96, ../sass/style.sass */
  .at {
    margin: 20px 0;
  }
}

/* line 104, ../sass/style.sass */
#map-canvas {
  height: 400px;
  margin-bottom: 0;
}
@media (max-width: 480px) {
  /* line 104, ../sass/style.sass */
  #map-canvas {
    margin-top: -64px;
  }
}

/* line 110, ../sass/style.sass */
.center {
  text-align: center;
}

/* line 112, ../sass/style.sass */
.border-right {
  padding-right: 20px;
  border-right: 1px solid black;
}

/* line 115, ../sass/style.sass */
.border {
  border-top: 1px solid #cccccc;
}

/* line 117, ../sass/style.sass */
.opaque {
  background: white;
  margin-bottom: 60px;
}

/* line 121, ../sass/style.sass */
.option {
  background: #cccccc;
  padding: 3px;
  border-radius: 2px;
  text-align: center;
}
/* line 126, ../sass/style.sass */
.option .inner {
  border: 1px solid black;
  padding: 10px;
  height: 50px;
  line-height: 50px;
}

/* line 132, ../sass/style.sass */
.roundel {
  display: none;
  background: #cccccc;
  padding: 10px;
}

/* line 138, ../sass/style.sass */
.icon {
  width: 32px;
  height: 32px;
  background: url(/images/icons/32px_optimised_sprite.png) no-repeat;
}

/* line 143, ../sass/style.sass */
.tick {
  background-position: -406px -38px;
}

/* line 146, ../sass/style.sass */
.selected {
  background: green;
}

/* line 149, ../sass/style.sass */
.selected .tick {
  background-position: -444px -35px;
}

/* line 155, ../sass/style.sass */
.ribbon {
  font-size: 16px !important;
  width: 50%;
  position: relative;
  background: #333333;
  color: white;
  text-align: center;
  padding: 2px 0;
  margin: -70px auto 20px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-shadow: 1px 1px 1px #333333, 2px 2px 1px #444444;
}
@media (max-width: 480px) {
  /* line 155, ../sass/style.sass */
  .ribbon {
    width: 100%;
    padding: 2px 1em;
    margin-left: -1em;
  }
}
/* line 172, ../sass/style.sass */
.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  top: -1em;
  border: 1.5em solid #444444;
  z-index: -1;
}
/* line 179, ../sass/style.sass */
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
/* line 183, ../sass/style.sass */
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
/* line 187, ../sass/style.sass */
.ribbon .ribbon-content {
  border: 1px solid #444444;
  border-width: 1px 0;
  display: block;
  padding: 10px 0;
  width: 100%;
}
/* line 193, ../sass/style.sass */
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: transparent transparent white transparent;
  top: -1em;
}
/* line 200, ../sass/style.sass */
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 0 0 1em 1em;
}
/* line 203, ../sass/style.sass */
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 0 1em 1em 0;
}

/* line 208, ../sass/style.sass */
#mti_wfs_colophon {
  display: none !important;
}
